@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);

#visual-captcha, .captcha-wrapper {
	font-family:'Oxygen', sans-serif;font-size:15px;color:#495e62;
}
.captcha-wrapper {
	border-radius: 5px;
	border: 2px solid #EEE;
	padding:10px;
}
#status-message {
	text-align: center;
}
.form-control.audioField {
	text-align: left;
	display: block;
	margin: 10px auto;
}

input[type=text].audioField {
  border: 0;
  padding:4px;
  width: 200px;
  font-size:20px;
  line-height: 20px;
  box-shadow: -5px 10px 0px -7px #ebebeb, 5px 10px 0px -7px #ebebeb;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
input[type=text].audioField:focus {
  outline: none;
  box-shadow: -5px 10px 0px -7px #4EA6EA, 5px 10px 0px -7px #4EA6EA;
}
.visualCaptcha {
    box-sizing: border-box;
	width: 100%;
	display: inline-block;
	text-align: center;
}
.captcha-wrapper {
    margin: 5px 0 5px 0;
}
#status-message .status {
    color:#D36161;
}
#status-message .status.valid {
    color:#61D3C6;
}
.visualCaptcha-possibilities{
	margin:0 auto;
	height:60px;
}
.visualCaptcha-button-group,
.visualCaptcha-possibilities{
	text-align: center;
	display: inline-block;
}
.visualCaptcha-button-group {
	padding-left: 20px;
	padding-right: 20px;
}

.visualCaptcha-possibilities .img,
.visualCaptcha-button-group div{
	display: inline-block;
	padding: 10px;
}
.visualCaptcha-button-group div {
	width:30px;
	padding-left:5;
	padding-right:5;
}
.visualCaptcha-hide {
	display: none;
}
.visualCaptcha-possibilities .img,
.visualCaptcha-possibilities .img img,
.visualCaptcha-refresh-button img,
.visualCaptcha-accessibility-button img,
 .visualCaptcha-refresh-button	
.visualCaptcha-accessibility-button{
	height:30px;
}
.visualCaptcha-possibilities .img img,
.visualCaptcha-refresh-button,
.visualCaptcha-accessibility-button {
	-webkit-filter: brightness(0.0) opacity(0.7);
}
.visualCaptcha-selected{
	background:#EEE;
	border-radius: 5px;
}
.captcha-wrapper{
	width:95%;
}
.visualCaptcha-refresh-button,
.visualCaptcha-accessibility-button {
	width:50px;
	display: inline-block;
}

.visualCaptcha-explanation {
	text-align: center;
}
.captcha-wrapper .status{
	color:#800;
}
.captcha-wrapper .status.valid{
	color:#000;
}